body {
  margin: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  background-color: rgb(240, 184, 228);
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: rgb(22, 21, 21);
  border: 1px solid rgb(175, 22, 22);
  cursor: move;
}

.draggable.dragging {
  opacity: 0.8;
}
